<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="dcule.user.vo.User" alias="user"/>
		<typeAlias type="dcule.user.vo.Authenticate" alias="authenticate"/>		
		<typeAlias type="dcule.evaluation.vo.Evaluation" alias="evaluation"/>
	</typeAliases>
</configuration>